<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>每日特卖———商品列表</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/javascripts/respond.min.js"></script>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="container" class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="h1" style="display: inline-block">每日特卖</div>
                    <a href="/mine">
                        <img src="/images/user_default_icon.png" class="img-circle pull-right"
                             style="width: 40px; margin-top: 10px"/>
                    </a>
                </div>

                <div class="products-shop-info-div">
                    <img src="<%= shop.icon %>" class="img-rounded img-responsive item-icon-md">
                    <div style="display: inline-block; vertical-align: middle; margin-left: 8px">
                        <div class="item-title">
                            <%= shop.name %>
                        </div>
                        <div class="item-summary">
                            <%= shop.phoneNumber %>
                        </div>
                    </div>
                </div>

                <hr style="margin: 0px">

                <% if (products) { %>
                <div class="products-panel">
                    <div class="clearfix">
                        <ul class="list-group products-tab">
                            <% var classfies = shop.classifies.split('|'); %>

                            <% for (var i = 0; i < classfies.length; i++ ) { %>
                            <% var classfy = classfies[i] %>
                            <li id="classfy<%= i %>" class="list-group-item"
                                style="border-radius: 0px; border-left: 0px; font-size: 13px">

                                <%= classfy %>
                            </li>
                            <% } %>
                        </ul>

                        <div>
                            <% var classfies = shop.classifies.split('|'); %>
                            <% for (var i = 0; i < classfies.length; i++) { %>

                            <ul class="list-group products-list" id="products_list<%= i %>">

                                <% for (var j = 0; j < products[i].length; j++) { %>

                                <% var product = products[i][j] %>

                                <li class="list-group-item"
                                    style="border-radius: 0px; border-left: 0px; border-right: 0px">
                                    <div>
                                        <img src="<%= product.icon %>" class="img-responsive img-rounded item-icon-md">
                                        <div class="item-text"
                                             style="vertical-align: middle; height: 30px;line-height: 30px;">
                                            <div class="item-title" style="font-size: 13px">
                                                <%= product.name %>
                                            </div>
                                            <div class="item-summary" style="font-size: 13px">
                                                价格：<%= product.price %>元
                                            </div>
                                        </div>
                                        <div class="pull-right"
                                             style="height: 50px; padding-top: 12.5px; padding-bottom: 12.55px">
                                            <img id="decrease_<%= i %>_<%= j %>" src="/images/decrease.png"
                                                 class="img-responsive img-rounded"
                                                 style="width: 30px; height: 30px; display: inline-block">
                                            <span id="count_<%= i %>_<%= j %>"
                                                  style="width: 10px; height: 30px; display: inline-block; line-height:30px; vertical-align: middle"
                                                  class="text-center">0</span>
                                            <img id="increase_<%= i %>_<%= j %>" src="/images/increase.png"
                                                 class="img-responsive img-rounded"
                                                 style="width: 30px; height: 30px; display: inline-block">
                                        </div>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="products-footer-bar">
                    <span>总价：</span><span id="totalPrice" style="font-size: 28px">0</span><span>元</span>
                    <span class="pull-right" style="display: block">
                            <span style="font-size: 10px">满100打八折优惠哦！</span>
                            <a class="btn btn-success" id="commitBtn">选好了</a>
                        </span>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-migrate-1.4.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script src="/javascripts/main.js"></script>

<script>

    $(document).ready(function () {

        var lastSelectedClassfyIndex = 0;
        var currentSelectedClassfyIndex = 0;

        var alert_discount_flag_11 = true; // 满100，8折优惠只是提示一次
        var alert_discount_flag_22 = true; // 满100，8折优惠只是提示一次

        var shop = '<%- JSON.stringify(shop) %>';
        shop = JSON.parse(shop);

        var products = '<%- JSON.stringify(products) %>';
        products = JSON.parse(products);

        var classfies = shop.classifies.split('|');

        for (var i = 0; i < classfies.length; i++) {

            (function (i) {

                if (i == 0) { // 默认第一个分类菜单设置背景颜色
                    $('#classfy' + i).css('background-color', '#FF8C00');
                }

                if (i > 0) { //默认隐藏除了第一个分类外的所有其他的商品列表信息
                    $('#products_list' + i).hide();
                }

                //注册分类的点击事件
                $('#classfy' + i).click(function () { //某个分类菜单被点击的时候

                    lastSelectedClassfyIndex = currentSelectedClassfyIndex;
                    currentSelectedClassfyIndex = i; //设置当前被点击的菜单索引

                    //上一个高亮菜单重置为 透明的背景颜色
                    $('#classfy' + lastSelectedClassfyIndex).css('background-color', 'transparent');

                    //当前选中的分类菜单设置 高亮背景颜色
                    $('#classfy' + currentSelectedClassfyIndex).css('background-color', '#FF8C00');

                    //上一个商品列表信息隐藏
                    $('#products_list' + lastSelectedClassfyIndex).hide();

                    //当前商品信息列表显示
                    $('#products_list' + currentSelectedClassfyIndex).show();

                });

                //注册加减按钮的点击事件
                for (var j = 0; j < products[i].length; j++) {

                    (function (j) {

                        products[i][j]['count'] = 0;

                        $('#decrease_' + i + '_' + j).click(function () {

                            if (products[i][j]['count'] > 0) {

                                // 点击一次几，数量减一
                                products[i][j]['count'] -= 1;

                                $('#count_' + i + '_' + j).html(products[i][j]['count']);

                                // 重新计算总额
                                var totalPrice = getTotalPrice();

                                $('#totalPrice').html(totalPrice);

                            }

                        });

                        //添加商品事件
                        $('#increase_' + i + '_' + j).click(function () {

                            var totalPrice = getTotalPrice();
                            var newTotalPrice = totalPrice + products[i][j].price;

                            // 点击一次几，数量加一
                            products[i][j]['count'] += 1;
                            $('#count_' + i + '_' + j).html(products[i][j]['count']);


                            /**
                             * 开始定义折扣规则
                             */
                            switch (newTotalPrice>0) {

                                case (newTotalPrice >= 20 && newTotalPrice < 50):

                                    discountTotal = newTotalPrice * 0.8;
                                    discountTotal = Math.ceil(discountTotal);

                                    $('#totalPrice').html(discountTotal);

                                    if (alert_discount_flag_11) {

                                        showAlert('消费满20元，给与8折优惠');
                                        alert_discount_flag_11 = false; //只提示一次

                                    }

                                    break;

                                case (newTotalPrice >= 50 && newTotalPrice < 100):

                                    discountTotal = newTotalPrice * 0.7;
                                    discountTotal = Math.ceil(discountTotal);

                                    $('#totalPrice').html(discountTotal);

                                    if (alert_discount_flag_22) {
                                        showAlert('消费满50元，给与7折优惠');
                                        alert_discount_flag_22 = false; //只提示一次
                                    }

                                    break;

                                default:

                                    $('#totalPrice').html(newTotalPrice);

                                    break;
                            }
                            /**
                             * 结束定义折扣规则
                             */

                        });

                    })(j);

                }

            })(i);
        }

        //获取当前选购的商品的总金额
        function getTotalPrice() {
            var totalPrice = 0;
            for (var i = 0; i < products.length; i++) {
                for (var j = 0; j < products[i].length; j++) {
                    if (products[i][j].price) {
                        totalPrice += products[i][j].price * products[i][j].count;
                    }
                }
            }
            return totalPrice;
        }

        // 点击选好了按钮，进行订单确认支付
        $('#commitBtn').click(function () {

            var orders = [];

            for (var i = 0; i < products.length; i++) {
                for (var j = 0; j < products[i].length; j++) {
                    if (products[i][j].count > 0) {

                        // 准备每一个已选购商品信息, count值有上面的点击事件赋值得来
                        var obj = {products_id: products[i][j].id, products_count: products[i][j].count};

                        // 把选购的商品信息放入orders数组
                        orders.push(obj);

                    }
                }
            }

            if (orders.length == 0) {
                showAlert('请至少选择一个商品');
            }

            asyncPost('/order', {orders: JSON.stringify(orders)}, function (response) {      //请求成功时处理

                var errMsg = '创建订单失败';

                if (response) {

                    if (response.code == 0) {
                        location.href = '/order/success';
                        return;
                    }

                    if (response.message) {
                        errMsg = response.message;
                    }
                }

                showAlert(errMsg);

            });
        });

        var productsPanel = $('.products-panel');

        if (productsPanel) {

            var bodyHeight = $(window).height();
            var panelHeadHeight = $('.panel-heading').height();
            var shopInfoHeight = $('.products-shop-info-div').height();
            var footerBarHeight = $('.products-footer-bar').height();

//            log('bodyHeight = ' + bodyHeight);
//            log('panelHeadHeight = ' + panelHeadHeight);
//            log('shopInfoHeight = ' + shopInfoHeight);
//            log('footerBarHeight = ' + footerBarHeight);

            var margin = 80;
            var containerHeight = bodyHeight - margin - panelHeadHeight - shopInfoHeight - footerBarHeight;
            $('.products-panel').css('min-height', containerHeight);
            $('.products-tab').css('min-height', containerHeight);
            $('.products-list').css('min-height', containerHeight);
        }
    });

</script>

</body>
</html>